# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types
/typechain-types

# Hardhat coverage reports
/coverage

# Environment variables
.env
.env.*
**/.env
**/.env.*
*.env
**/*.env

# IDE and temporary files
.idea/
.temp/
.tmp/
**/.idea/
**/.temp/
**/.tmp/
